absl-py==0.10.0
appdirs==1.4.4
argon2-cffi==20.1.0
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
attrs==20.2.0
backcall==0.2.0
bleach==3.3.0
bokeh==2.2.1
boto3==1.16.55
botocore==1.19.55
cachetools==4.1.1
certifi==2023.7.22
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
cond-rnn==2.4
dask==2021.10.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
distributed==2021.10.0
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
focal-loss==0.0.6
fsspec==0.8.3
future
gast==0.3.3
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
graphviz==0.14.2
grpcio==1.53.2
gviz-api==1.9.0
h5py==2.10.0
HeapDict==1.0.1
idna==3.7
imbalanced-learn==0.7.0
imblearn==0.0
importlib-resources==3.3.0
ipykernel==5.3.4
ipython==8.10.0
ipython-genutils==0.2.0
ipython-memory-usage==1.2
ipywidgets==7.5.1
isort==5.6.1
jdcal==1.4.1
jedi==0.17.2
Jinja2==3.1.3
jmespath==0.10.0
joblib==1.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.11.2
jupyterlab-pygments==0.1.2
Keras-Preprocessing==1.1.2
keras-tuner==1.0.2
lazy-object-proxy==1.4.3
llvmlite==0.34.0
locket==0.2.0
Markdown==3.3.2
MarkupSafe==1.1.1
mccabe==0.6.1
memory-profiler==0.57.0
mistune==2.0.3
msgpack==1.0.0
mypy-extensions==0.4.3
nbclient==0.5.0
nbconvert==6.5.1
nbformat==5.0.7
nest-asyncio==1.4.1
notebook==6.4.12
numba==0.51.2
numpy==1.22.0
oauthlib==3.1.0
openpyxl==3.0.6
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.2
parso==0.7.1
partd==1.1.0
pathspec==0.8.0
pickleshare==0.7.5
Pillow==10.3.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.18.3
psutil==5.7.2
pyarrow==14.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.15.0
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.1
pywin32==301
pywinpty==0.5.7
PyYAML==5.4
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.9.27
requests==2.31.0
requests-oauthlib==1.3.0
rope==0.18.0
rsa==4.7
sacremoses==0.0.43
scikit-learn==1.0.1
scipy==1.10.0
Send2Trash==1.5.0
sentencepiece==0.1.91
six==1.15.0
sklearn==0.0
sortedcontainers==2.2.2
tabulate==0.8.7
tblib==1.7.0
tenacity==6.3.1
tensorboard==2.3.0
tensorboard-plugin-profile==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.11.1
tensorflow-addons==0.12.1
tensorflow-datasets==4.1.0
tensorflow-estimator==2.3.0
tensorflow-metadata==0.25.0
termcolor==1.1.0
terminado==0.9.1
terminaltables==3.1.0
testpath==0.4.4
threadpoolctl==2.1.0
thrift==0.13.0
tokenizers>=0.8.1.rc2
toml==0.10.1
toolz==0.11.1
tornado==6.3.3
tqdm==4.50.1
traitlets==5.0.4
transformers==4.38.0
typed-ast==1.4.1
typeguard==2.10.0
typing-extensions==3.7.4.3
urllib3==1.26.18
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==3.0.3
widgetsnbextension==3.5.1
wrapt==1.12.1
yapf==0.30.0
zict==2.0.0
